body {
margin: 0;
padding: 0;
}

.navbar{
  position:fixed;
  padding:15px 0;
  width:100%;
  transition:all 0.2s ease;
  z-Index:999;
  
}
.navbar.color-active {
  background-color:white;
  padding:20px 0 20px 0;
  border-bottom:1px solid;
}
.navbar .nav-link a{
  padding:5px 10px 5px 10px;
  font-weight:500;
  text-decoration:none;
}
.navbar .nav-link a:hover{
  color:white;
}
.navbar .nav-link .active {
  background-color:#dc3545;
  color:white;
}
header {
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar span {
  font-weight:700;
}
.homepage .header-box p{
  padding-top:20px;
  padding-bottom:20px;
}
.homepage .header-box .title h1{
  padding-top:10px;
  padding-bottom:10px;
}
.homepage .header-box span{
  font-weight:700;
}
.homepage .header-box img{
  width:100%;
}
.homepage .kelas {
  background-color:#f6f8fd;
  padding-bottom:100px;
}
.homepage .kelas .row:nth-child(1){
  padding-top:150px;
  padding-bottom:100px;
}
.homepage .kelas .row:nth-child(2){
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:15px;
}
.homepage .kelas .row:nth-child(2) .col {
  background-color:white;
  padding:0;
}
.homepage .kelas .row:nth-child(2) img {
  width:100%;
  height:250px;
}
.homepage .kelas .row:nth-child(2) .star {
  color:gold;
}
.footer .no a,
.footer .email a {
  display:flex;
  align-Items:center;
  color:black;
  column-gap: 5px;
}
.footer .nav-link a{
  text-decoration:none;
}
.footer .menu a{
  text-decoration:none;
  color:black;
}
.footer .row:nth-child(1){
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:5px;
}
.footer .info {
  display:flex;
  gap:2px;
}
.footer .info input {
  width:200px;
  height:100;
}
.footer .sosmed{
  display:flex;
  margin:5px;
  column-gap:10px;
  padding:5px;
}
.kelas {
  background-color:#f6f8fd;
  padding-top:100px;
}
.kelas .row:nth-child(1){
  padding-bottom:50px;
}

.kelas .row:nth-child(2){
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:15px;
  padding-right:50px;
  padding-left:50px;
}
.kelas .row:nth-child(2) .col {
  background-color:white;
  padding:0;
}
.kelas .row:nth-child(2) img {
  width:100%;
  height:250px;
}
.kelas .row:nth-child(2) .star {
  color:gold;
}
.testimoni {
  background-color:#f6f8fd;
}
.testimoni .row:nth-child(1) {
  padding:50px;
}
.testimoni .testi-desc {
  background-color:white;
  padding:20px;

}
.testimoni .row:nth-child(2) img{
  border-radius:50%;
  margin-top:15px;
  margin-right:15px;
  width:70px;
  height:70px;
}
.testimoni .testi-data{
  
  width:300px;
}

.testimoni .row:nth-child(2){
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:15px;
  padding-right:50px;
  padding-left:50px;
}
.testimoni .row:nth-child(2) .col{
  
  padding:20px;
}
.faq {
  background-color:#f6f8fd;
  padding-bottom:100px;
  padding-right:15px;
  padding-left:15px;
}
.faq-pages {
  padding-bottom:120px;
  background-color:#f6f8fd;
}