.navbar{
  position:fixed;
  padding:15px 0 15px 0;
  width:100%;
  transition:all 0.2s ease;
  
}
.navbar.color-active {
  background-color:white;
  padding:20px 0 20px 0;
  border-bottom:1px solid;
}
.navbar .nav-link a{
  padding:5px 10px 5px 10px;
  font-weight:500;
  text-decoration:none;
}
.navbar .navlink a:hover{
  color:#dc3545;
}
.navbar .navlink .active {
  background-color:#dc3545;
  color:white;
}
header {
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar span {
  font-weight:700;
}
.homepage .header-box p{
  padding-top:20px;
  padding-bottom:20px;
}
.homepage .header-box .title h1{
  padding-top:10px;
  padding-bottom:10px;
}
.homepage .header-box span{
  font-weight:700;
}
.homepage .header-box img{
  width:100%;
}
.homepage .kelas {
  background-color:#f6f8fd;
  padding-bottom:100px;
}
.homepage .kelas .row:nth-child(1){
  padding-top:150px;
  padding-bottom:100px;
}
.homepage .kelas .row:nth-child(2){
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:15px;
}
.homepage .kelas .row:nth-child(2) .col {
  background-color:white;
  padding:0;
}
.homepage .kelas .row:nth-child(2) img {
  width:100%;
  height:250px;
}
.homepage .kelas .row:nth-child(2) .star {
  color:gold;
}