header {
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar span {
  font-weight:700;
}
.homepage .header-box img{
  width:100%;
}
.homepage .kelas {
  background-color:white;
  padding-bottom:100px;
}
.homepage .kelas .row:nth-child(1){
  padding-top:150px;
  padding-bottom:100px;
}
.homepage .kelas .row:nth-child(2){
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
}
.homepage .kelas .row:nth-child(2) img {
  height:250px;
}